@import "../../main";

.Landing-container {
  background-color: $dark-white;
  min-height: 70vh;
  border-radius: 10px;
}

.Landing-Text-Container {
  width: 270px;
  @include flex-row;
  justify-content: space-between;
}

.Landing-form {
  @include flex-column;
}
