@import "../../main";

.Navbar {
  background-color: $blue;
  padding: 5px;
  @include flex-row;

  &-container {
    width: 400px;
    @include flex-row;
  }

  &-link {
    text-decoration: none;
    color: $dark-white;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
  }

  .Logout-btn {
    color: $dark-white;
    border-color: $dark-white;
  }

  .Logout-btn:hover {
    border-color: $dark-white;
    background-color: $dark-white;
    color: $light-black;
  }
}
